services:
  teamspeak:
    image: docker.arvancloud.ir/teamspeaksystems/teamspeak6-server:6.0.0-beta11
    container_name: teamspeak-server
    restart: unless-stopped
    network_mode: "host"
    environment:
      - TSSERVER_LICENSE_ACCEPTED=accept
      - TSSERVER_QUERY_HTTP_ENABLED=true
      - TSSERVER_QUERY_HTTP_PORT=10080
      - TSSERVER_QUERY_SSH_ENABLED=true
      - TSSERVER_QUERY_ADMIN_PASSWORD={{ vault_teamspeak.query_password }}
    volumes:
      - /opt/teamspeak/data:/var/tsserver