dbs:
  - path: /app/data/db/data.sqlite
    replicas:
      - type: s3
        endpoint: "{{ vault_s3_backup.endpoint_url }}"
        bucket: "{{ vault_s3_backup.bucket_name }}"
        path: 9router/data.sqlite
        access-key-id: "{{ vault_s3_backup.access_key }}"
        secret-access-key: "{{ vault_s3_backup.secret_key }}"
